<header aria-label="Cabecera principal">
    <div class="navbar container">
        <div class="logo">
            <a href="/PW2OpvDRYWALL1/index.html">
                <img src="/PW2OpvDRYWALL1/assets/logo_1.png" alt="OPV Drywall">
            </a>
        </div>

        <nav aria-label="Menú principal">
            <ul>
                <li><a href="/PW2OpvDRYWALL1/index.html">Inicio</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/nuestrosProgramas.html">Nuestros Programas</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/acercaDe.html">Acerca de nosotros</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/porqueOPV.html">Por qué OPV Drywall</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/galeria.html">Galería</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/testimonios.html">Testimonios</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/formRegistro.html">Registro</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/preguntasFrecuentes.html">Preguntas frecuentes</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/terminosYcondiciones.html">Términos y Condiciones</a></li>
                <li><a href="/PW2OpvDRYWALL1/html/contactenos.html">Contacto</a></li>
            </ul>
        </nav>
    </div>
</header>